@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --font1: Verdana, geneva, tahoma, sans-serif;
    --font2: 'Kanit', sans-serif;
    --font3:  'Pacifico', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white;
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family:var(--font2) ;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-top: 20px;
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

 header a:hover, footer a:hover {
    text-decoration: none;
    color: rgb(98, 98, 107);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {
    background-color: rgb(32, 32, 32);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
}

section.imagem > p {
    padding: 18px 5px;
   display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493);
    background-attachment: fixed;
}

section#img01 {
    background-image: url(images/background001.jpg);
    background-position: right center;
    background-size: cover ;
}

section#img02 {
    background-image: url(images/background002.jpg);
    background-size: cover ;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 5px 5px;
}